<%- include("partials/header") %>
<main>
<section class="presentation-container">
  <div class="presentation-text-container">
    <h1 class="">Page non trouvée</h1>
  </div>
  <div class="presentation-img-container">
    <img src="/assets/erreur-404-BBetween.png" alt="Chat mignon" />
  </div>
</section>
</main>

<%- include("partials/footer") %>