<%- include('partials/header') %>
<main>
  <div id="admin-connect-form-container">
    <h2 class="admin-page-title">Bienvenue sur votre espace administrateur</h2>

    <form action="/login" method="post" id="admin-connect-form">
      <label for="username">Nom</label>
      <input type="text" name="username">
      <label for="password">Mot de passe</label>
      <input type="password" name="password">
      <button class="btn">Connexion</button>
    </form>
  </div>
  


</main>


<%- include('partials/footer') %>