<%- include('partials/header') %>
<main class="admin-main">
  <a class="btn admin-logout-btn" href="/logout">Se déconnecter</a>
  <h2 class="admin-page-title">Bienvenue sur votre espace administrateur</h2>
  
  <div id="admin-page-links">
    <a class="btn" href="/admin/product/add">Ajouter un produit</a>
    <a class="btn" href="/admin/product/modify">Supprimer ou modifier un produit</a>
  </div>
  

</main>

<%- include('partials/footer') %>